:root {
  --bg-1: #fcfcfc;
  --bg-2: #f9f9f9;
  --text-1: #202020;
  --title: #eeeeee;
  --text-2: #646464;
  --solid-1: #8d8d8d;
  --border-1: #d9d9d9;
  --interactive-1: #f0f0f0;
  --solid-purple: #00a2c7;
  --shadow-light: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring 👇 */ 0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  --shadow-light-2: 1px 1px 8px rgb(0, 0, 0, 0.2);
  --shadow-light-3: 4px 4px 15px rgb(0, 0, 0, 0.4);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: #111111;
    --bg-2: #191919;
    --text-1: #eeeeee;
    --title: #eeeeee;
    --text-2: #b4b4b4;
    --solid-1: #6e6e6e;
    --border-1: #3a3a3a;
    --interactive-1: #222222;
    --solid-purple: #00a2c7;
    --shadow-light: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
      /* 2. shadow ring 👇 */ 0 0 0 1px hsla(230, 13%, 9%, 0.075),
      /* 3. multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
      0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
      0 3.5px 6px hsla(230, 13%, 9%, 0.09);
    --shadow-light-2: 1px 1px 8px rgba(100, 100, 100, 0.2);
    --shadow-light-3: 4px 4px 15px rgba(100, 100, 100, 0.4);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  color: inherit;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  background-color: var(--bg-2);
  color: var(--text-1);
}

#hero {
  padding: 32px;
  background: linear-gradient(160deg, var(--solid-purple) 50%, var(--bg-1) 50%);
}

#hero h2 {
  margin-top: 32px;
  font-size: 2rem;
  text-align: center;
}

#hero p {
  margin-top: 24px;
  color: var(--text-2);
}

#hero img {
  width: 100%;
}

#hero figure {
  position: relative;
}

#hero figcaption {
  position: absolute;
  font-size: 2rem;
  color: var(--title);
  line-height: 1.1;
  bottom: 16px;
  left: 16px;
}

#hero .socials {
  margin-top: 32px;
  display: flex;
  justify-content: end;
  gap: 32px;
}

#hero .socials a {
  height: 32px;
  width: 32px;
}

#projects {
  margin: auto;
  max-width: 1400px;
  padding: 16px;
}

#projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 16px;
}

.project-card {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--border-1);
  background-color: var(--bg-1);
  margin-bottom: 48px;
  box-shadow: var(--shadow-light);
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.project-card .links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-card-body {
  padding: 24px;
}

.project-card-body p {
  margin-top: 8px;
}

.project-card img {
  width: 100%;
  display: block;
  object-fit: cover;
}

footer {
  background-color: var(--solid-purple);
  color: white;
}

footer img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

footer .contact {
  padding: 32px 24px 0 24px;
}

footer > div > p:nth-child(3) {
  margin-top: 32px;
}

footer h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 24px;
}

footer .phone,
footer .mail {
  display: flex;
  align-items: center;
  gap: 8px;
}

footer .mail {
  margin-top: 8px;
}

footer .socials {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

footer .socials a {
  height: 32px;
  width: 32px;
}

footer > div > p:nth-child(2) {
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  #hero {
    padding: 96px;
  }

  #hero figure {
    float: left;
    margin-right: 16px;
    margin-left: -80px;
    margin-top: -80px;
    margin-bottom: 1px;
    box-shadow: var(--shadow-light);
  }

  .hero-container {
    padding: 32px;
    background-color: var(--bg-2);
    box-shadow: var(--shadow-light);
  }

  .project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  #projects h2 {
    text-align: left;
  }

  footer {
    display: flex;
    gap: 32px;
  }

  footer h2 {
    margin-top: 78px;
  }
}

@media screen and (min-width: 1000px) {
  .project-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero-container {
    margin: auto;
    max-width: 1000px;
  }

  footer figure {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}
