:root {
  --bg-body: #111111;
  --color-body: #eeeeee;
  --bg-primary: #0090ff;
}

body {
  margin: 0;
  background-color: var(--bg-body);
  color: var(--color-body);
  font-family: sans-serif;
}
header {
  position: relative;
  background-color: var(--bg-primary);
  padding: 0 32px 32px 32px;
}

header img,
footer img {
  width: 100%;
}

header h1 {
  position: absolute;
  content: "";
  bottom: 16px;
  left: 52px;
  font-size: 3.4rem;
}

footer {
  background-color: var(--bg-primary);
  padding: 24px;
}

main {
  padding: 24px;
}

h2 {
  text-align: center;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card {
  margin-bottom: 64px;
  border-radius: 3px;
  border: 1px solid var(--bg-primary);
  box-shadow: 2px 2px 15px 5px rgb(0, 144, 255, 0.2);
}

.card-body {
  padding: 24px;
}

.socials {
  margin-top: 24px;
  height: 32px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

#my-work {
  margin-top: 96px;
}
